*{box-sizing: border-box;}

body{background-color: var(--c5);
    transform: scale(75%);
}

.attribution {font-size: 21px; 
    text-align: center;
    color: var(--c2);
    position: relative;
    top: 180px;
}

.attribution a {color: hsl(204, 91%, 66%); }

.attribution a:hover{color: var(--c1);
    cursor: pointer;
}

@font-face {font-family: Inter-Bold ;
    src: url(assets/fonts/Inter-Bold.ttf) ;
}

@font-face {font-family: Inter-Regular ;
    src: url(assets/fonts/Inter-Regular.ttf) ;
}

@font-face {font-family: Inter-SemiBold ;
    src: url(assets/fonts/Inter-SemiBold.ttf) ;
}

@font-face {font-family: Inter-Variable ;
    src: url(assets/fonts/Inter-VariableFont_slnt,wght.ttf) ;
}

:root{ --c1: hsl(75, 94%, 57%) ;
    --c2: hsl(0, 0%, 100%) ;
    --c3: hsl(0, 0%, 20%) ;
    --c4: hsl(0, 0%, 12%) ;
    --c5: hsl(0, 0%, 8%) ;
    --f1: Inter-Bold ;
    --f2: Inter-Regular ;
    --f3: Inter-SemiBold ;
    --f4: Inter-Variable ;
}

.container{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

.card{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--c4);
    border-radius: 15px;
    width: 590px;
}

.img{padding-top: 35px;
    background-color: aqa;}

.img img{border-radius: 65%;}

.txt{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 500px;
}

.t1{color: var(--c2);
    text-align: center;
    font-size: 45px;
    font-family: var(--f1);
}

.t2{color: var(--c1);
    text-align: center;
    font-size: 27px;
    font-family: var(--f1);
    position: relative;
    top: -60px;
}

.t3{color: var(--c2);
    text-align: center;
    font-size: 25px;
    font-family: var(--f2);
    position: relative;
    top: -60px;
}

.social{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    position: relative;
    top: -60px;
}

.social p{background-color: var(--c3);
    color: var(--c2);
    width: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--f3);
    font-size: 24px;
    height: 85px;
    margin-bottom: 1px;
}

.social p:hover{background-color: var(--c1);
    color: var(--c5);
    cursor: pointer;
}