*{box-sizing: border-box;
    font-size: 23px;
}

body{background-color: var(--c5);
    max-width: 500px;
}

:root{ --c1: hsl(24, 5%, 18%) ;
    --c2: hsl(14, 45%, 36%) ;
    --c3: hsl(332, 51%, 32%) ;
    --c4: hsl(30, 10%, 34%) ;
    --c5: hsl(0, 0%, 100%) ;
    --f1: YoungSerif-Regular ;
    --f2: Outfit-Light ;
}

@font-face {
    font-family: YoungSerif-Regular ;
    src: url(assets/fonts/YoungSerif-Regular.ttf) ;
}

@font-face {
    font-family: Outfit-Light ;
    src: url(assets/fonts/Outfit-Light.ttf) ;
}

@media only screen and (min-width: 525px) {
    body{background-color: red;}
}

.attribution { font-size: 11px; text-align: center;}

.attribution a { color: var(--c2);
    text-decoration: none;
}

.attribution a:hover { color: darkgreen;}

.container{display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: -7px;
    top: -7px;
}
.container2{display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 425px;
    position: relative;
    left: 45px;
    padding-bottom: 50px;
}

.img{display: flex;
    width: 500px;
    height: 212px;
}

.img img{max-width: 500px;}

p{color: var(--c4);
    font-family: var(--f2);
}

li{color: var(--c4);
    padding-bottom: 20px;
}

::marker{color: var(--c2);
    font-weight: 700;
}

td{color: var(--c4);}

h1{font-family: var(--f1) ;
    color: var(--c1);
    font-weight: 400;
    font-size: 50px;
}

h2{color: var(--c3);
    font-family: var(--f2);
    font-weight: 600;
    font-size: 30px;
}

h3{font-family: var(--f1);
    color: var(--c2);
    font-weight: 400;
    font-size: 35px;
}

.t2{position: relative;
    top: -25px;
}

.t3{position: relative;
    left: 35px;
}

.td{color: var(--c2);
    position: relative;
    left: 100px;
}

.table{position: relative;
    left: 50px;
}