*{box-sizing: border-box;}

body{background-color: rgb(36, 35, 35);
    max-width: 502px;
}

p{color: aliceblue;}

li{color: aliceblue;}

td{color: aliceblue;}

:root{ --c1: hsl(24, 5%, 18%) ;
    --c2: hsl(14, 45%, 36%) ;
    --c3: hsl(332, 51%, 32%) ;
    --c4: hsl(30, 10%, 34%) ;
    --c5: hsl(0, 0%, 100%) ;
    --c6: hsl(330, 100%, 98%) ;
    --c7: hsl(30, 18%, 87%) ;
    --c8: hsl(30, 54%, 90%) ;
    --f1: YoungSerif-Regular ;
    --f2: Outfit-Light ;
    --f3: Outfit-Medium  ;
    --f4: Outfit-Regular ;
    --f5: Outfit-SemiBold ;
    --f6: Outfit-Thin ;
    --f7: Outfit-VariableFont_Weight ;
}

@font-face {
    font-family: YoungSerif-Regular ;
    src: url(assets/fonts/YoungSerif-Regular.ttf) ;
}

@font-face {
    font-family: Outfit-Light ;
    src: url(assets/fonts/Outfit-Light.ttf) ;
}

@font-face {
    font-family: Outfit-Medium ;
    src: url(assets/fonts/Outfit-Medium.ttf) ;
}

@font-face {
    font-family: Outfit-Regular ;
    src: url(assets/fonts/Outfit-Regular.ttf) ;
}

@font-face {
    font-family: Outfit-SemiBold ;
    src: url(assets/fonts/Outfit-SemiBold.ttf) ;
}

@font-face {
    font-family: Outfit-Thin ;
    src: url(assets/fonts/Outfit-Thin.ttf) ;
}

@font-face {
    font-family: Outfit-VariableFont_Weight ;
    src: url(assets/fonts/Outfit-VariableFont_wght.ttf) ;
}



.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

.divisor{flex-direction: row;
    width: 500px;
    border: solid 5px darkmagenta;
    position: relative;
}

.container{display: flex;
    flex-direction: column;
}

.img{display: flex;
    width: 500px;
    height: 212px;
}

.img img{max-width: 500px;}

h1{font-family: var(--f1) ;
    color: aliceblue;
}

h2{color: aliceblue;}

h3{color: aliceblue;}