*{box-sizing: border-box;}

body{background-color: rgb(36, 35, 35);}

p{color: aliceblue;}

li{color: aliceblue;}

td{color: aliceblue;}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

.divisor{flex-direction: row;
    width: 500px;
    border: solid 5px darkmagenta;
    position: relative;
}

.container{display: flex;
    flex-direction: column;
}

.img{display: flex;
    width: 500px;
    height: 212px;
}

.img img{max-width: 500px;}